############################
# Secrets & Environnement
############################
.env
.env.*
!.env.example

############################
# Node.js
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Build / Transpilation
############################
dist/
build/
*.tsbuildinfo

############################
# OS / Editor
############################
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

############################
# Tests / Coverage
############################
coverage/
.nyc_output/

############################
# Misc
############################
*.log
